<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title data-testid="login-form-title">Login</mat-card-title>
        </mat-card-header>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content fxLayout="column">
                <mat-form-field fxFlex>
                    <input data-testid="input-email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <input data-testid="input-password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" data-testid="toggle-pass-button" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" type="submit" data-testid="submit-button" [disabled]="form.invalid">Submit</button>
            <p *ngIf="onError" data-testid="error-message" class="error">An error occurred</p>
        </form>
    </mat-card>
</div>